# Blacklist all
/**

# Whitelist allowed
!/README.md
!/.gitignore

!/.github/
!/.github/workflows/
!/.github/workflows/build-and-publish.yml

!/data/
!/data/general.yml

!/static/
!/static/**

!/templates/
!/templates/**
